/*侧边导航栏*/
.list-group-item{
    cursor:pointer;
}
.list-group-item a{
    text-decoration: none;
    /*display: block;*/
    width: 100%;
}
.list-group-item:hover{
    background:#eee;
}
.list-group-item.disabled{
    background: #007bff;
}
.list-group-item{
    padding: 0!important;
}
.list-group-item a {
    display: block;
    padding-left: 20px;
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.breadcrumb{
    background: #FFFFFF;
    padding: 0;
    font-size: 1rem;
    margin-bottom: 20px;
}
.table tbody tr:nth-of-type(1){
    background:#007bff;
    color: white;
}
.activeguancang{
    background:#EAEAEA;
}
.content{
    width: 90%;
    margin-left: 10px;
}
.content p{
    text-indent:2em;
}
.content{
    border: 1px solid #d7d7d7;
    width:100%;
    height: 700px;
}
.contentul{
    list-style: none;
    height: 550px;
}
.contentul li{
    position: absolute;
    margin-top: 20px;
}
.contentul img{
    width: 95%;
}
.ullist{
    width: 100%;
    height: 100px;
}
.ullist li{
    list-style: none;
    width: 159px;
    height: 110px;
    float: left;
}
.ullist img{
    width: 150px;
    height: 100px;
}