/*侧边导航栏*/
.list-group-item{
    cursor:pointer;
}
.list-group-item a{
    text-decoration: none;
    width: 100%;
}
.list-group-item:hover{
    background:#eee;
}
.list-group-item.disabled{
    background: #007bff;
}
.list-group-item{
    padding: 0!important;
}
.list-group-item a {
    display: block;
    padding-left: 20px;
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.breadcrumb{
    background: #FFFFFF;
    padding: 0;
    font-size: 1rem;
    margin-bottom: 20px;
}
.table tbody tr:nth-of-type(1){
    background:#007bff;
    color: white;
}
.activeguancang{
    background:#EAEAEA;
}
.content{
    width: 90%;
    margin-left: 10px;
}
.content p{
    text-indent:2em;
    font-family: 宋体;
}