/*底部*/
.btnover{
    height: 150px;
    background: #3275D4;
    width: 100%;
    margin-top: 50px;
}
.btnover img{
    margin-top: 25px;
    margin-left: 50px;
    position: absolute;
}
.btnp{
    color: white;
    text-align: center;
    position: relative;
    top: 20px;
    font-size: 15px;
}