.logo{
    height: 80px;
    width: 100%;
    /*text-align:center;*/
    background: #3275D4;
}
.logo img{
    position: relative;
    top: 20px;
    left: 20px;
}
.logo .font_tushuguan{
    color: white;
    text-align: center;
    position: relative;
    top: -70px;
}
.shadow_tu{
    text-shadow: 3px 3px 1px rgba(255, 255, 255, 0.23);
    font-size: 50px;
}
.denglu{
    float: right;
    height: 35px;
    width: 80px;
    border:1px solid white;
    border-radius: 5px;
    color: white;
    position: relative;
    top: -125px;
    left: -15px;
    text-align: center;
    margin-left: 10px;
}
.denglu a{
    font-size: 20px;
}
.denglu:hover{
    background-color: white;
    color: #563D7C;
    cursor:pointer;
}
.nav{
    padding-left: 15px!important;
}
#nav{
    height:50px;
    background: #3275D4;
    font-size: 20px;
}
#nav a{
    color:#FFFFFF!important;
}
#nav a:hover{
    color:rgba(20, 20, 20, 0.66) !important
}
.contenthead{
    width: 1140px;
}
.content{
    width: 1200px;
    background-color: rgba(33, 150, 243, 0.5);
    /*box-shadow: inset 1px -1px 1px rgba(0, 151, 234, 0.17), inset -1px 1px 1px #444;*/
}
/*第二个导航*/
.content_nav ul{
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    cursor:pointer;
    position: relative;
}
.content_nav ul :last-child{
    border: 0;
    border-top-rigth-radius:2px;
    border-bottom-rigth-radius:2px;
}
.content_nav ul :first-child{
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
}
.content_nav ul li a{
    text-decoration:none;
    width: 227px;
    height: 85px;
    display:block;
    font-weight: bold;
    color: #9a9d9e;
    font-size: 25px;
}
.content_nav ul{
    overflow: hidden;
}
.content_nav li{
    float: left;
    background-color: #fff;
    border-right:solid 1px #8b8d8e;
    width: 20%;
    height: 85px;
    text-align: center;
    line-height: 85px;
}
.content_nav .mask{
    width: 228px;
    height: 85px;
    background: rgba(33, 150, 243, 0.5);
    opacity: 0.5;
    position: absolute;
    transition:0.5s;
    /*transform: scaleX(0);*/
}
.content_nav li:hover .mask{
    transform: translateY(-85px);
}
.content_nav li:hover a{
    color: black;
    z-index: 2;
}
.content_nav .mask a{
    display: block;
}
/*消息列表*/
.news{
    margin-top: 10px;
    background: white;
    height: 200px;
}
.new_content_list{
    margin-top: 5px;
    display: inline-block;
}
.new_content_list span a{
    color: rgb(0, 0, 0);
    font-size: 1.10rem;
    font-weight: 300;
}
.gonggao{

}

.line_h2:hover{
    border-left: 2px solid #3aa3f9;
    margin-left: -2px;
}
.line_h2:hover a{
    color: #3aa3f9;
}
.gonggao h2{
    padding-left: 10px;
    padding-right: 40px;
    /*border-left: 2px solid #3aa3f9;*/
    /*border-right: 2px solid #3aa3f9;*/
    width: 30px;
    float: left;
    line-height: 30px;
    font-size: 25px;
    margin-top: 10px;
}
.gonggao h2 a{
    color: black;
    text-decoration: none;
}
.news_p{
    display: inline;
    position: relative;
    top: 25px;
}
.news_p a{
    text-decoration: none!important;
}
.news_left{
    width: 50px;
    float: left;
}
.line{
    border-left: 2px solid #3aa3f9;
    padding-left: 30px;
    margin-left: 60px;
    height: 180px;
}
.linespan{
    border-right: 1px solid #3aa3f9;
    padding-right:10px;
}
.gonggaocontent{
    display: inline-block;
    letter-spacing:3px;
    width: 300px;
    height: 26px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    top: 5px;
}
.gonggaocontent:hover a{
    color: #3aa3f9;
}
.gonggaokuang a{
    background-color:rgb(248,178,8);
    text-decoration: none!important;
    color: white!important;
    display: inline-block;
    border-radius: 10px;
    border: 0;
    width: 40px;
    height: 20px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 14px!important;
    line-height: 19px;
    margin-top: -6px;
}
.newskuang a{
    background-color:#C30010;
    text-decoration: none!important;
    color: white!important;
    display: inline-block;
    border-radius: 10px;
    border: 0;
    width: 40px;
    height: 20px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 14px!important;
    line-height: 19px;
    margin-top: -6px;
}
/*最新资源*/
.resources a{
    background-color: #58c34c;
    text-decoration: none!important;
    color: white!important;
    display: inline-block;
    border-radius: 10px;
    border: 0;
    width: 40px;
    height: 20px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 14px!important;
    line-height: 19px;
    margin-top: -6px;
}
/*消息推荐*/
.new_list{
    margin-top:10px;
    background: white;
}
.new_list a{
    text-decoration:none!important;
    color: #1a1a1a;
}
.new_list ul{
    padding: 0;
    margin: 0;
}
.new_list hr{
    margin-top: 0;
    margin-bottom: 10px;
    border-top: 1px solid #717171;
    width: 95%;
}
.rank_list{
    /*width: 221px;*/
    width: 270px;
    /*background: red;*/
    height: 300px;
    margin-left: 19px;
}
.new_list_head{
    width: 268px;
    height: 35px;
    margin-top: 10px;
}
.new_list_head h5{
    /*display: inline-block;*/
    float: left;
}
.new_list_head:hover p{
    display: block;
}
.new_list_more{
    display: inline;
    left: 120px;
    position: relative;
    top: 8px;
    display: none;
}
.new_list_more a{
    color: #3aa3f9;
}
.new_list :nth-child(1){
    margin-left: 1px;
}
.list_1{
    height: 110px;
    width: 220px;
}
.list_1 div{
    float: left;
}
.list_1_right{
    width: 80px;
}
.list_1_left{
    position: relative;
    left: 30px;
}
.list_1_right h3{
    width: 36px;
    font: 700 14px/18px Arial;
    color: #fff;
    background: red;
}
.list_1_right h4{
    width: 120px;
    font:700 14px/18px Arial;
    margin-bottom: 0px;
}
.list_1_right p:nth-child(3){
    font:700 12px/15px Arial;
    height: 10px;
    margin-top: 8px;
    margin-bottom:0;
    color: red;
}
.list_1_right em{
    padding-right: 5px;
    font-size: 16px;
}
p:last-child{
    margin-top: 8px;
}
.list_1_right p:nth-child(4) a{
    /*font:700 12px/15px Arial;*/
    font-size: 12px;
    height: 10px;
    color: #a6a6a6;
    margin-bottom: 8px;
}
/*特色推荐*/
.tese{
    background: white;
    margin-top: 10px;
    width: 1140px;
    /*height: 400px;*/
}
.titlehead{
    height: 50px;
}
.tesehead_line{
    border-top: 3px solid #3aa3f9;
    display: inline-block;
    width: 980px;
    position: relative;
    top: -40px;
    left: 130px;
}
.tese_gengduo{
    float: right;
    margin-top: -20px;
    height: 20px;
}
.teseimg{
    width: 1124px;
    padding: 0;
}
.teseimg img{
    width: 252px;
    height: 252px;
}
.teseimg li{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
.teseimg li div{
    height: 252px;
    width: 252px;
    overflow: hidden;
    box-shadow: 1px 1px 10px #888888;
    border-radius: 2px;
}
.teseimg li div:hover img{
    transform: scale(1.2);
    transition: all 0.6s;
}
.tese_content{
    margin-top: 5px;
    height: 300px;
    /*background: red;*/
}
.teseimgh3{
    position: relative;
    top: -50px;
    left: 60px;
}
.teseimgh3 a{
    color: white;
}
.teseimgh3:hover a{
    color: white;
}


/*推荐列表*/
.num-box{
    float: left;
    width: 28px;
    height: 32px;
}
.num-box span{
    font: 700 14px/18px Arial;
    display: block;
    overflow: hidden;
    width: 23px;
    height: 16px;
    margin-top: 8px;
    text-align: center;
    letter-spacing: -1px;
}
.data_rid_2{
    width: 220px;
    height: 32px;
}
.num-box span.num2{
    width: 16px;
    height: 16px;
    color: white;
    background: #e67225;
    font: 700 14px/16px Arial;
    margin-top: 5px;
    margin-left: 5px;
}
.nama-box{
    position: relative;
    float: left;
    height: 32px;
    width: 180px;
    border-top: 1px solid #e6e6e6;
}
.nama-box a{
    display:inline-block;
    overflow: hidden;
    height: 31px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #1a1a1a;
    width: 110px;
}
.total{
    font: 14px/25px PingFangSC-Regular,'-apple-system',Simsun;
    float: right;
    overflow: hidden;
    width: 32px;
    text-align: right;
    white-space: normal;
    text-overflow: ellipsis;
    color: #b3b3b3
}
.num-box span.num3{
    width: 16px;
    height: 16px;
    color: white;
    background: #e6bf25;
    font: 700 14px/16px Arial;
    margin-top: 5px;
    margin-left: 5px;
}
.num-box span.num4{
    width: 16px;
    height: 16px;
    color: white;
    background: #ededed;
    font: 700 14px/16px Arial;
    margin-top: 5px;
    margin-left: 5px;
}
/*底部*/
.btnover{
    height: 150px;
    background: #3275D4;
    width: 100%;
    margin-top: 50px;
}
.btnover img{
    margin-top: 25px;
    margin-left: 50px;
    position: absolute;
}
.btnp{
    color: white;
    text-align: center;
    position: relative;
    top: 20px;
    font-size: 15px;
}