.logo{
    height: 80px;
    width: 100%;
    /*text-align:center;*/
    background:#3275D4;
}
.logo img{
    position: relative;
    top: 20px;
    left: 20px;
}
.logo .font_tushuguan{
    color: white;
    text-align: center;
    position: relative;
    top: -70px;
}
.shadow_tu{
    text-shadow: 3px 3px 1px rgba(255, 255, 255, 0.23);
    font-size: 50px;
}
.denglu{
    float: right;
    height: 35px;
    width: 80px;
    border:1px solid white;
    border-radius: 5px;
    color: white;
    position: relative;
    top: -125px;
    left: -15px;
    text-align: center;
    margin-left: 10px;
}
.denglu a{
    font-size: 20px;
}
.denglu:hover{
    background-color: white;
    color: #563D7C;
    cursor:pointer
}
#nav{
    height:50px;
    background:#3275D4;
    font-size: 20px;
}
#nav a{
    color:white!important;
}
#nav a:hover{
    color: rgba(20, 20, 20, 0.66) !important;
}